@import url("https://fonts.googleapis.com/css?family=Roboto:700");

.Map {
    background: #7c71ff;
    font-family: "Roboto";
    text-align: center;
    padding-top: 200px;

    h1 {
        font-size: 70px !important;
    }
    img {
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;

    }
}
