.Programms {
    margin: 100px 0px;
    background: #fff;
    width: 100%;
    h1 {
        color: #a9a9a9;
        margin-bottom: 100px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    .load{
        margin-top: 100px;
        background: #7c71ff;
        width: 500px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 30px;
        color: white;
        font-weight: 600;
        margin-bottom: 100px;
        transition: .5s;
        &:hover{
            background: rgb(255, 255, 255);
            color: #7c71ff;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

        }
        &:active{
            box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;

        }
    }
}
